# Database configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=quotesdb
DB_USER=user
DB_PASSWORD=password

# API Configuration
API_URL=http://api:5001

# Frontend Port Configuration
FRONTEND_PORT=80

# Image Configuration
DB_image_name=<account_number>.dkr.ecr.ap-south-1.amazonaws.com/assignment-db-ecr:latest
API_image_name=<account_number>.dkr.ecr.ap-south-1.amazonaws.com/assignment-api-ecr:latest
APP_image_name=<account_number>.dkr.ecr.ap-south-1.amazonaws.com/assignment-app-ecr:latest